@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "root";

.subtitle{
  max-width: 583px;
}

.container {
  max-width: 1440px;
}

.main {
  background: #DDF3FF;
  max-width: 868px;
  height: 432px;
  border-radius: 10px;
  padding: 35px 34px;
  position: relative;
}

.circles{
  display: flex;
  gap: 10px;
  &-subtitle {
    color: #9A9A9A;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
  }
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #89D1F8;
  border-radius: 50%;
}

.circle.active {
  background-color: #00A5FF;
}

.nav-btn {
  position: absolute;
  bottom: 65px;
}

.next-btn {
  border-radius: 5px;
  background: #00A5FF;
  border-color: #00A5FF;
  margin-left: 10px;
}

.results{
  &__items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 137px 16px;
    .item{
      width: 240px;
      height: 240px;
      border-radius: 6.75px;
      border: 1px solid #E9E9E9;
      &-img{
        margin: auto;
        height: 100%;
        border-radius: 6.75px;
      }
      &-title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        line-height: 130%;
        margin-top: 22px;
        margin-bottom: 0;
      }
      &-price{
        display: flex;
        margin-top: 15px;
        align-items: end;
        gap: 10px;
        &__old{
          color: #B8B8B8;
          font-family: "Inter";
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 136.9%; /* 27.38px */
          text-decoration-line: line-through;
          padding-bottom: 3px;
        }
        &__new{
          color: #000;
          font-family: "Inter";
          font-size: 27px;
          font-style: normal;
          font-weight: 600;
          line-height: 136.9%;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .results__items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .results__items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .results__items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .results__items {
    grid-template-columns: repeat(1, 1fr);
  }
}